.transaction-card-container {
  width: 100%;
  background-color: #1b1b1b;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: 0.5rem 0;

  .tc-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: #1b1b1b;

    i {
      width: 100%;
      height: auto;
      font-size: 2rem;
      color: #fff;
      background-color: #1b1b1b;
    }

    #shop {
      width: 100%;
      height: auto;
      font-size: 2rem;
      color: #fff;
      background-color: #1b1b1b;
    }
    #misc {
      width: 100%;
      height: auto;
      font-size: 2rem;
      color: #fff;
      background-color: #1b1b1b;
    }
  }

  .tc-amount-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    background-color: #1b1b1b;
    #type {
      font-size: 0.8rem;
      font-weight: 400;
      color: #fff;
      opacity: 0.8;
      background-color: #1b1b1b;
    }
    .tc-amount {
      p {
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        background-color: #1b1b1b;
      }

      #credit {
        color: #62d9a1;
      }
      #debit {
        color: #ff4949;
      }
    }

    .tc-date {
      p {
        font-size: 0.8rem;
        font-weight: 400;
        color: #fff;
        opacity: 0.8;
        background-color: #1b1b1b;
      }
    }
  }
}
